<?xml version="1.0"?>
<launch>
    <!-- include navigation bringup -->
    <!-- <include file="$(find teamcasefetch_launchers)/launch/final_navigation_bringup.launch">
        
    </include> -->

    <!-- client to visit each station -->
    <node pkg="coordinator" type="visit_all" name="visit_all" output="screen" respawn="false" respawn_delay="0">
        
    </node>
</launch>