<?xml version="1.0"?>
<launch>
    <!-- map server -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find test_navigation)/map/gazebo_generated/map.yaml" output="log" respawn="false" respawn_delay="0">
        
    </node>
    <!-- amcl -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen" respawn="false" respawn_delay="0">
        <remap from="scan" to="base_scan"/>
    </node>
    <!-- rviz bringup -->
    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find test_navigation)/rviz/RVIZ_with_everything.rviz" respawn="true" respawn_delay="0">
    
    </node>

</launch>